*{
    margin: 0;
    border: 0;
}

body{
    background-image:url(pexels-naimbic-2290753.jpg);
    background-position: center;
    background-size:cover;
    width: 100%;
    background-color: rgb(178, 124, 124);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
}

a{
    padding: 15px;
    color:rgb(227, 226, 224);
}
a:hover{
    background-color: aquamarine;
    color:blue;
}
.name{
    text-align: center;
    position: relative;
    left: 290px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(31, 1, 1, 0.855);
    font-size: 30px;
    width: 1000px;
    background-color: rgba(255, 235, 205, 0.188);
}
.offer{
    text-align: right;
    font-size: 40px;
    color: rgb(231, 230, 219);
    position: relative;
    right: 100px;
    top:200px;

}
.bottom{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 480px;
    background-color: brown;
}